{
  "extends": [
    "plugin:vue/vue3-recommended",
    "@vue/eslint-config-typescript"
  ],
  "rules": {
    "no-tabs": "off",
    "indent": "off",
    "quotes": [
      "warn",
      "double"
    ],
    "@typescript-eslint/quotes": [
      "warn",
      "double"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "@typescript-eslint/semi": [
      "warn",
      "always"
    ],
    "no-console": "warn",
    "no-multiple-empty-lines": ["warn", { "max": 1, "maxEOF": 0 }],
    "no-mixed-spaces-and-tabs": "off",
    "vue/no-mutating-props": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-vars": "warn",
    "vue/no-unused-components": [
      "warn"
    ]
  },
  "plugins": [
    "vue"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src/renderer"
          ]
        ],
        "extensions": [
          ".ts",
          ".vue"
        ]
      }
    }
  }
}