.theme-amethyst-dark {
  /* v2 */
  --text-title: 206, 199, 254;                            /* #cec7fe; */
  --text-subtitle: 137, 139, 184;                         /* #898dc7; */
  --primary: 218, 116, 254;                               /* #da74fe; */
  --accent: 134, 138, 255;                                /* #868aff; */
  --inspector-color: 56, 189, 248;                        /* #38bdf8; */
  --alert-color: 244, 49, 141;                            /* #F4318D; */
  --good-color: 34, 197, 94;                              /* #22c55e; */
  --warning-color: 255, 159, 67;                          /* #ff9f43; */

  --settings-setting-background: 20, 22, 33;              /* #141621 */
  --settings-subsetting-background: 16, 17, 25;           /* #101119 */
  --playback-controls-background: var(--surface-700);     
  --playback-controls-text: var(--text-title);            
  --slider-background: var(--surface-500);                
  --slider-fill: var(--accent);

  --surface-1000: 11, 13, 19;                             /* #0B0D13 */
  --surface-900: 15, 17, 25;                              /* #0f1119 */
  --surface-800: 20, 22, 33;                              /* #141621 */
  --surface-700: 24, 26, 39;                              /* #181a27 */
  --surface-600: 31, 33, 52;                              /* #1f2134 */
  --surface-500: 45, 45, 73;                              /* #2d2d49 */
  --surface-400: 56, 56, 84;                              /* #383854 */
  --primary-1000: 163, 163, 209;                          /* #5f5f85 */
  --primary-900: 130, 130, 168;                           /* #a3a3d1 */
  --primary-800: 134, 138, 255;                           /* #868aff */
  --primary-700: 100, 106, 195;                           /* #646ac3 */

  --unlit-900: 101, 101, 138;
  --contrast: 255, 255, 255;
  color: rgb(var(--contrast));
}