.theme-emerald-dark {
    --text-title: 252, 255, 246;                            /* #FCFFF6; */  
    --text-subtitle: 188, 195, 177;                         /* #BCC3B1; */  
    --primary: 172, 228, 59;                                /* #ACE43B; */
    --accent: 97, 179, 123;                                 /* #61B37B; */
    --inspector-color: 86, 184, 182;                        /* #56B8B6; */
    --alert-color: 255, 230, 41;                            /* #ffe629; */
  
    --settings-setting-background: var(--surface-800);      
    --settings-subsetting-background: var(--surface-900);   
    --playback-controls-background: var(--surface-700);     
    --playback-controls-text: var(--text-title);            
    --slider-background: var(--surface-500);                
    --slider-fill: var(--accent);
    
    --surface-1000: 16, 20, 15;     /* #10140F */
    --surface-900: 20, 25, 19;      /* #141913 */
    --surface-800: 26, 31, 23;      /* #1A1F17 */
    --surface-700: 31, 37, 28;      /* #1F251C */
    --surface-600: 38, 46, 34;      /* #263022 */
    --surface-500: 54, 64, 48;      /* #364030 */
    --surface-400: 67, 79, 59;      /* #434F3B */
    --primary-1000: 154, 212, 145;  /* #9AD491 */
    --primary-900: 123, 169, 116;   /* #7BA974 */
    --primary-800: 97, 179, 123;    /* #61B37B */
    --primary-700: 71, 155, 97;     /* #479B61 */
    
    --unlit-900: 82, 99, 75;
    --contrast: 255, 255, 255;
    color: rgb(var(--contrast));
}