.theme-onyx-dark {
    --text-title: 246, 246, 246;                            /* #FCFFF6; */  
    --text-subtitle: 133, 133, 133;                         /* #BCC3B1; */  
    --primary: 200, 200, 200;                               /* #ACE43B; */
    --accent: 160, 160, 160;                                /* #5E5E5E; */
  
    --settings-setting-background: var(--surface-800);      
    --settings-subsetting-background: var(--surface-900);   
    --playback-controls-background: 240, 240, 240;          /* #FDFFF0 */
    --playback-controls-text: var(--surface-800);
    --slider-background: 194, 194, 194;                     /* #D5D9C2 */
    --slider-fill: var(--playback-controls-text);

    --surface-1000: 7, 7, 7;        /* #070707 */
    --surface-900: 11, 11, 11;      /* #0B0B0B */
    --surface-800: 16, 16, 16;      /* #101010 */
    --surface-700: 22, 22, 22;      /* #161616 */
    --surface-600: 30, 30, 30;      /* #1E1E1E */
    --surface-500: 43, 43, 43;      /* #2B2B2B */
    --surface-400: 53, 53, 53;      /* #353535 */
    --primary-1000: 134, 134, 134;  /* #868686 */
    --primary-900: 107, 107, 107;   /* #6B6B6B */
    --primary-800: 87, 87, 87;      /* #575757 */
    --primary-700: 66, 66, 66;      /* #424242 */
  
    --unlit-900: 53, 53, 53;
    --contrast: 255, 255, 255;
    color: rgb(var(--contrast));
}