.theme-rose-dark {
    --surface-1000: 17, 6, 11;      /* #11060B */
    --surface-900: 26, 9, 15;       /* #1A090F */
    --surface-800: 38, 13, 21;      /* #260D15 */
    --surface-700: 55, 19, 30;      /* #37131E */
    --surface-600: 78, 28, 44;      /* #4E1C2C */
    --surface-500: 113, 40, 66;     /* #712842 */
    --surface-400: 140, 50, 81;     /* #8C3251 */
    --primary-1000: 225, 114, 140;  /* #E1728C */
    --primary-900: 180, 91, 111;    /* #B45B6F */
    --primary-800: 153, 77, 95;     /* #994D5F */
    --primary-700: 114, 57, 71;     /* #723947 */
  
    --unlit-900: 90, 45, 56;
    --contrast: 255, 255, 255;
    color: rgb(var(--contrast));
}