.theme-sapphire-dark {
    --surface-1000: 8, 14, 25;      /* #080E19 */
    --surface-900: 12, 20, 35;      /* #0C1423 */
    --surface-800: 17, 28, 49;      /* #111C31 */
    --surface-700: 21, 37, 65;      /* #152541 */
    --surface-600: 27, 47, 83;      /* #1B2F53 */
    --surface-500: 39, 67, 119;     /* #274377 */
    --surface-400: 48, 84, 150;     /* #305496 */
    --primary-1000: 122, 147, 199;  /* #7A93C7 */
    --primary-900: 98, 118, 159;    /* #62769F */
    --primary-800: 71, 90, 153;     /* #475A99 */
    --primary-700: 52, 67, 114;     /* #344372 */
    
    --unlit-900: 67, 83, 115;
    --contrast: 255, 255, 255;
    color: rgb(var(--contrast));
}