.theme-ruby-dark {
    --surface-1000: 20, 8, 8;      /* #140808 */
    --surface-900: 29, 12, 12;     /* #1D0C0C */
    --surface-800: 42, 17, 17;     /* #2A1111 */
    --surface-700: 61, 21, 21;     /* #3D1515 */
    --surface-600: 86, 27, 27;     /* #561B1B */
    --surface-500: 125, 39, 39;    /* #7D2727 */
    --surface-400: 154, 48, 48;    /* #9A3030 */
    --primary-1000: 212, 141, 141; /* #D48D8D */
    --primary-900: 170, 113, 113;  /* #AA7171 */
    --primary-800: 230, 82, 82;    /* #E65252 */
    --primary-700: 138, 57, 57;    /* #8A3939 */
  
    --unlit-900: 112, 47, 47;
    --contrast: 255, 255, 255;
    color: rgb(var(--contrast));
}