@import url(themes/amethyst-light.css);

@font-face {
  font-family: "cozette-vector";
  src: url("../../assets/fonts/cozette-vector.ttf");
}

.font-cozette {
  font-family: "cozette-vector";
}

* {
  cursor: url("./cursors/default.png"), auto !important;
}

.cursor-pointer,
.cursor-pointer * {
  cursor: url("./cursors/pointer.png") 4 0, auto !important;
}

.cursor-heart-pointer,
.cursor-heart-pointer * {
  cursor: url("./cursors/heart-pointer.png") 4 0, auto !important;
}

.cursor-external-pointer,
.cursor-external-pointer * {
  cursor: url("./cursors/external-pointer.png") 4 0, auto !important;
}